canvas {
    display: block;
}

.pf {
    float: left;
    text-align: center;
    color: white;
}

.pf0 {
    min-width: 160px;
    background-color: green;
}

.pf1 {
    min-width: 320px;
    background-color: blue
}

.pf2 {
    min-width: 320px;
    background-color: red
}
